
{% if object is defined and object.events is not empty %}
    
    <ul>
    {% for event in object.events %}
    
        <li>
            {{ event.date | localizeddate('short', 'short') }}
            :&nbsp;
            <span class="label label-{{ object.getEventBadgeClass(event.event | default("invalid")) }}">
                {{ event.event | default("invalid") | capitalize }}
            </span>
            {% if event.reason is not empty %}
                &nbsp;({{ event.reason }})
            {% endif %}
        </li>
    
    {% endfor %}
    </ul>

    <div class="text-center text-warning">
        Refreshed:&nbsp; 
        {% if object.refreshedAt is not empty %}
            {{ object.refreshedAt | ago }}
        {% else %}
            Never
        {% endif %}
    </div>
    
{% endif %}